# Laravel
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/*.key
backend/storage/logs/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/testing/
backend/storage/framework/views/

# Angular
frontend/node_modules/
frontend/.angular/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db