<div class="add-category-container">
  <div class="add-category-card">
    <h2 class="add-category-title">Add Category</h2>

    <h3 class="language-title">English</h3>

    <div class="form-group">
      <label>Category Name</label>
      <input
        type="text"
        name="nameEn"
        [(ngModel)]="newCategory.name.en"
        placeholder="Enter category name"
      />
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea
        name="descriptionEn"
        [(ngModel)]="newCategory.description.en"
        placeholder="Enter description"
      ></textarea>
    </div>

    <h3 class="language-title">العربية</h3>

    <div class="form-group">
      <label>اسم التصنيف</label>
      <input
        type="text"
        name="nameAr"
        [(ngModel)]="newCategory.name.ar"
        placeholder="أدخل اسم التصنيف"
      />
    </div>

    <div class="form-group">
      <label>الوصف</label>
      <textarea
        name="descriptionAr"
        [(ngModel)]="newCategory.description.ar"
        placeholder="أدخل وصف التصنيف"
      ></textarea>
    </div>

    <div class="button-group">
      <button
        type="button"
        class="add-button"
        (click)="addCategory()"
        routerLink="/categories"
      >
        Add Category
      </button>

      <button type="button" class="cancel-button" routerLink="/categories">
        Cancel
      </button>
    </div>
  </div>
</div>
