<aside class="sidebar">
  <div class="sidebar-header">
    <h2>Dashboard</h2>
  </div>

  <nav class="sidebar-nav">
    <a routerLink="/product" routerLinkActive="active" class="nav-item">
      Products
    </a>

    <a routerLink="/categories" routerLinkActive="active" class="nav-item">
      Categories
    </a>

    <a routerLink="/users" routerLinkActive="active" class="nav-item">
      Users
    </a>

    <a routerLink="/roles" routerLinkActive="active" class="nav-item"> Role </a>

    <app-logout></app-logout>
  </nav>
</aside>
